*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container1 h1{
    background-color: rgb(142, 201, 221);
    color: white;
    padding: 30px;
    text-align: center;
}

.container2{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    flex-wrap: wrap;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchBox input {
    padding: 5px;
    width: 200px;
    font-size: 16px;
}

.table-container {
    overflow-x: auto;
}

#table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #2bbcc1;
}

th, td{
    text-align: center;
    padding: 8px;
}

.container3{
    background-color: lightgrey;
    padding: 35px;
}

label {
    display: inline-block;
    width: 10%;
    text-align: right;
    margin-right: 25px;
}